{% extends "layout.html" %}

{% block title %}
    continue game
{% endblock %}
{% block main %}
<p class="h3">list  of game</p>
<table class="table table-dark table-borderless">
    <caption>List of game</caption>
    <thead>
        <tr>
            <th>opponent name</th>
            <th>score</th>
            <th>game</th>
            <th>start game</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
        {% for c in rows%}
            {% if c.player1 == id %}
            <td>{{c.p2}}</td>
            <td><span style="color:green;">{{c.score1}}</span> - <span style="color: red;">{{c.score2}}</span></td>
            {% else %}
            <td>{{c.p1}}</td>
            <td><span style="color:green;">{{c.score2}}</span> - <span style="color: red;">{{c.score1}}</span></td>
            {% endif %}            
            {% for g in games%}
            {% if c.game_id == g.id%}
            <td>{{g.name}}</td>
            {% endif %}
            {% endfor %}
            <td>
                <form action="/play" method="post">
                    <input type="hidden" name="gid" value="{{c.gid}}">
                    <input type="hidden" name="action" value="1" >
                    <button class="btn btn-success btn-sm" type="submit">continue game</button>
                </form>
            </td>
        {% endfor %}
        </tr>
    </tbody>                          
</table>
{% endblock %}