{% extends "layout.html" %}

{% block title %}
    friends
{% endblock %}

{% block main %}
<div class="container-fluid">
  <form action="/addfriend" method="post">
    <h1 class="h3 mb-3 fw-normal">Please put your friends username in</h1>
        <div class="form-floating">
          <input name="username" type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
          <label for="floatingInputGroup1">Username</label>
          <br>       
          <button class="w-100 btn  btn-primary" type="submit">add friend</button>
        </div>
    
  </form>
   <div class="text-bg-light">
        <ul></ul>
    </div>
</div>
<script>
  let input=document.querySelector('input');
  input.addEventListener("input",async function(){
    let response = await fetch("/searchfriend?q=",input.value);
    let friends = await response.json();
    let html='';
    for (let c in friends)
    {
      html+="<li>"+friends[c].username+"</li>";
    }      
    document.querySelector('<ul>').innerHTML=html;
          
  })
</script>
{% endblock %}
