{% extends "layout.html" %}

{% block title %}
    invite
{% endblock %}
{% block main %}
<p class="h3">list  of friends</p>
<table class="table table-dark table-borderless">
    <caption>List of request</caption>
    <thead>
        <tr>
            <th>username</th>
            <th>game</th>
            <th>start game</th>
            <th>delete request</th>
        </tr>    
    </thead>
    <tbody>
        <tr>
        {% for c in rows%}
            <td>{{c.username}}</td>
            {% for g in games%}
            {% if c.game_id == g.id%}
            <td>{{g.name}}</td>
            {{% endif %}}
            {% endfor %}
            <td>
                <form action="/gameinvite" method="post">
                    <input type="hidden" name="gid" value="{{c.gid}}">
                    <input type="hidden" name="action" value="1" >
                    <button class="btn btn-success" type="submit">start game</button>
                </form>
            </td>
            <td>
                <form action="/gameinvite" method="post">
                    <input type="hidden" name="gid" value="{{c.gid}}">
                    <input type="hidden" name="action" value="0" >
                    <button class="btn btn-primary" type="submit">delete request</button>
                </form>
            </td>
        {% endfor %}
        </tr>
    </tbody>                          
</table>
{% endblock %}