{% extends "layout.html" %}

{% block title %}
    stone paper
{% endblock %}
{% block main %}
<p>oppnent choice</p>
<div id="oppchoice">
    <p>oppnent choice</p>    
</div>
<div id="execute">
    <p>wating for opponents choice</p>
</div>
<footer class="mb-5 text-center">
    <form action="/game" method="post">
        <h1 class="h3 mb-3 fw-normal">Please put your choice in</h1>
            <div class="form-floating">
              <input type="hidden" id="choice" name="choice" value="">
              <div class="btn-group" role="group" >
                <button type="button" class="w-100 btn  btn-primary" name="stone" onclick="document.getElementById('choice').value='1'"><img class="img-fluid" alt="stone" src="/static/270A_color.png"/></button>
                <button type="button" class="w-100 btn  btn-primary" name="paper" onclick="document.getElementById('choice').value='2'"><img class="img-fluid" alt="paper" src="/static/1F4DC_color.png"/></button>
                <button type="button"class="w-100 btn  btn-primary" name="scissor" onclick="document.getElementById('choice').value='3'"><img class="img-fluid" alt="scissor" src="/static/2702_color.png"/></button>
              </div>
              <br>    
            </div>
            <button class="w-100 btn  btn-primary" type="submit">select choice</button>
    </form>
</footer>
<script>
    var timer;
    async function checker(){
        let response = await fetch("/stonepaper");
        let info=await response.json();
        let html="";
        console.log(info);
        let code=info.code;
        let msg=info.msg;
        console.log(code);
        console.log(msg);
        if (code !=0){
            let input=info.input
            clearInterval(timer);
            if (input==1)
            {
                document.getElementById("oppchoice").innerHTML=`<button type="disabled"  class="btn btn-primary btn-sm"><img class="img-fluid" alt="stone" src="/static/270A_color.png"/></button>`;
            }
            else if (input==2) {
                document.getElementById("oppchoice").innerHTML=`<button type="disabled"  class="btn btn-primary btn-sm"><img class="img-fluid" alt="paper" src="/static/1F4DC_color.png"/></button>`;
            }
            else if (input==3){
                document.getElementById("oppchoice").innerHTML=`<button type="disabled"  class="btn btn-primary btn-sm"><img class="img-fluid" alt="scissor" src="/static/2702_color.png"/></button>`;                   
            }
            console.log(input);
            document.getElementById("execute").innerHTML=`<h1 style="background-color: grey;padding: 5px;">${msg}</h1>`;
        }
    }
    timer=setInterval(checker,3000);
</script>
{% endblock %}